body {
	background-color: #CCCCCC;
	margin: 0px;
	padding-left: 50px;
	padding-right: 50px;
	font-family: arial, helvetica;
	font-size: 13px;
	text-align: center;
}

div.header{
	background-image: url("http://p1.pichost.me/i/13/1359503.jpg");
	margin-top: 20px;
	min-width: 500px;
	height: 150px;
	font-family: "arial black";
	font-size: 50px;
	text-align: center;
	color: #CCDDEE;
	line-height: 140px;
}

table.stat {
	border: 1px dotted #8888EE;
	font-family: arial, helvetica;
	font-size: 13px;
	background-color: #CCCCDD;
	width: 80%;
	margin: auto;
	text-align: left;
	border-spacing: 0px;
}

tr.datarow_odd {
	background-color: #C0C0E0;
}

tr.datarow_even {
	background-color: #D0D0F0;
}

tr.header {
	background-color: #0909C9;
	color: #EEEEEE;
	font-weight: bold;
}

td {
	padding: 2px;
}

td.pos {
	text-align: right;
	width: 20px;
}
td.nick {
	text-align: left;
	width: 20%;
}

td.text {
	text-align: left;
}

td.number {
	text-align: center;
	width: 45px;
}

h1,h2,h3,h4 {
	text-align: center;
}